.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.wrapper > .card > img {
  object-fit: cover;
  width: 300px;
  height: 400px;
}
.loader-box {
  height: 70vh;
  line-height: 70vh;
  font-size: 25px;
  text-align: center;
}
